[tool.poetry]
name = "pydeflate"
version = "1.3.9"
description = "Package to convert current prices figures to constant prices and vice versa"
authors = ["Jorge Rivera <jorge.rivera@one.org>"]
license = "MIT"
readme = "README.md"
classifiers=[
    'Development Status :: 5 - Production/Stable',
    'Intended Audience :: End Users/Desktop',
    'Intended Audience :: Science/Research',
    'License :: OSI Approved :: MIT License',
    'Natural Language :: English',
    'Programming Language :: Python :: 3',
    'Programming Language :: Python :: 3.10',
]

packages = [
    { include = "pydeflate" },
]

[tool.poetry.dependencies]
python = "^3.10"
numpy = "^1.26"
pandas = "^2"
beautifulsoup4 = "^4.12"
weo = "^0.7.4"
xlrd = "^2.0.1"
country-converter = "^1"
requests = "^2.28.2"
pyarrow = "^14.0"
bblocks = "^1.2"


[tool.poetry.dev-dependencies]
bump2version = "^1.0.1"
black = "^23"
pytest = "^7.2.1"
pytest-cov = "^4.0.0"
pytest-mock = "^3.10.0"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
