[project]
name = "pydeflate"
version = "2.1.3"
description = "Package to convert current prices figures to constant prices and vice versa"
authors = [
    {name = "Jorge Rivera",email = "jorge.rivera@one.org"}
]
license = {text = "MIT"}
readme = "README.md"
requires-python = ">=3.10, <4.0"
dependencies = [
    "pandas (>=2.2.3,<3.0.0)",
    "requests (>=2.32.3,<3.0.0)",
    "pyarrow (>=14.0)",
    "imf-reader (>=1.2.0,<2.0.0)",
    "hdx-python-country (>=3.8,<4.0.0)",
    "oda-reader (>=1.0.5,<2.0.0)",
    "wbgapi (>=1.0.12,<2.0.0)",
]

[tool.poetry]

[tool.poetry.group.dev.dependencies]
bump2version = "^1.0.1"
black = "^25.1.0"

[build-system]
requires = ["poetry-core>=2.0.0,<3.0.0", "poetry-dynamic-versioning>=1.0.0,<2.0.0"]
build-backend = "poetry_dynamic_versioning.backend"