[tool.poetry]
name = "pydeflate"
version = "1.0.1"
homepage = "https://github.com/jm-rivera/pydeflate"
description = "Python package to convert current prices figures to constant prices and vice versa"
authors = ["Jorge Rivera <jorge.rivera@one.org>"]
license = "MIT"
classifiers=[
    'Development Status :: 5 - Production/Stable',
    'Intended Audience :: Developers',
    'License :: OSI Approved :: MIT License',
    'Natural Language :: English',
    'Programming Language :: Python :: 3.9',
    'Programming Language :: Python :: 3.10',
]


packages = [
    { include = "pydeflate" },
    { include = "tests", format = "sdist" },
]

[tool.poetry.dependencies]
python = "^3.9"
pandas = "^1.4.3"
weo = "^0.7.3"
BeautifulSoup4 = "^4.11.1"
numpy = "^1.23.0"
pandas-datareader = "^0.10.0"
requests = "^2.28.1"
pyarrow = "^8.0.0"
xlrd = "^2.0.1"
country-converter = "^0.7.4"
tox = "^3.25.1"
twine = "^4.0.1"
wheel = "^0.37.1"

[tool.poetry.dev-dependencies]
pytest = "^7.1.2"
pytest-cov = "^3.0.0"
BeautifulSoup4 = "^4.11.1"
pandas = "^1.4.3"
black = "^22.6.0"
weo = "^0.7.3"
numpy = "^1.23.0"
pandas-datareader = "^0.10.0"
requests = "^2.28.1"
pyarrow = "^8.0.0"
xlrd = "^2.0.1"
country-converter = "^0.7.4"
tox = "^3.25.1"
twine = "^4.0.1"
wheel = "^0.37.1"
pip = "^22.1.2"
bump2version = "^1.0.1"
virtualenv = "^20.15.1"
pre-commit = "^2.19.0"
toml = "^0.10.2"
Sphinx = "^5.0.2"
myst-parser = "^0.18.0"
sphinx-rtd-theme = "^1.0.0"
sphinxcontrib-napoleon = "^0.7"


[tool.black]
line-length = 120
skip-string-normalization = true
target-version = ['py39']
include = '\.pyi?$'
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''

[tool.poetry.extras]
test = [
    "pytest",
    "coverage",
    "black",
    "mypy",
    "flake8",
    "flake8-docstrings",
    "pytest-cov",
    "pandas"
]

dev = ["tox", "pre-commit", "virtualenv", "pip", "twine", "toml", "bump2version", "pandas",
    "numpy", "country-converter", 'pytest','pytest-cov'
]

docs = ["Sphinx", "sphinx-rtd-theme", "sphinxcontrib-napoleon", "myst-parser"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
