pip
bump2version
wheel
watchdog
flake8
tox
coverage
Sphinx
twine
poetry

pytest
pytest-runner

sphinx-rtd-theme

pandas>=1.2.1
weo==0.7.0 
numpy>=1.19.2'
BeautifulSoup4>=4.0
pandas_datareader>=0.10.0
requests>=2.25.1
requests_cache>=0.8.1
pyarrow>=1.19.2
xlrd>=2.0